* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    height: 450px;
    width: 400px;
    /* border: 2px solid red; */
    padding: 0px 7px;
    position: relative;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.title-box {
    height: 5rem;
    padding: 5px 7px;
    text-align: center;
    margin-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

h2 {
    font-size: 1.1em;
    font-weight: 600;
}

.question-container {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 2rem;
}

.question-container button {
    font-size: 1em;
    font-weight: 600;
    padding: 5px 7px;
    border-radius: 6px;
    border: none;
}

.question-container button:hover {
    background-color: rgb(214, 174, 214);
    color: #fff;
}

.select {
    background-color: rgb(146, 60, 146);
    color: #fff;
}

.btn-box {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.button-18 {
    align-items: center;
    background-color: green;
    border: 0;
    /* border-radius: 100px; */
    border-radius: 6px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
    background-color: green;
    color: #ffffff;
}

.button-18:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}

.button-18:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}

.resul-box{
    position: absolute;
    font-size: 40px;
    text-align: center;
    top: 38%;
    left: 20%;
}